@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  cursor: default;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
}
